<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attendance Using Face Recognition</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/css/payu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/framework/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <script src="{{ url_for('static', filename='tdb-package/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='tdb-package/js/nav.js')}}"></script>
</head>

<body class="b-tdb-pro5">
{% if 'email' not in session %}
<h5>Not Allowed</h5>

{% else %}
    <!--sidebar-->
<div class="sidebar">

    {% if session['email'] %}
    <a href="/logout"><p>Logout</p></a>

    {% else %}
    <a href="/login"><p>Login</p></a>
    {% endif %}


</div>

<nav class="b-tdb-white bold-tdb5 font-tdb 16 c-tdb-gray7 s-center-tdb1">
<div class="container-fluid">
<div class="row">
<div class="col-md-3">&lt/Face Recognition></div>
<div class="nav-desktop col-md-6 left bold-tdb4 c-tdb-green5">
{% if session['email'] %}
<a href="/logout" class="c-tdb-black">Logout</a>
{% else %}
<a href="/login" class="c-tdb-black">Login</a>
{% endif %}


<a href="#tools" class="c-tdb-black">Attendance</a>
<a href="mailto:azeemmuhammad98@gmail.com" class="c-tdb-black">Support</a>
</div>
<div class="nav-desktop col-md-3 left bold-tdb4 c-tdb-gray6">
    <i class="fa fa-user"></i> {{ session['email'] }}
</div>
</div>
</div>
<i id="bar" class="fa fa-bars"></i>
<i id="bar1" class="fa fa-times"></i>
</nav>

<section class="header c-tdb-white position-r-tdb" style="background:linear-gradient(to right,#131635, #3b47a7,#131635)">
    <img src="../static/img/2.png" class="mylogo1 position-a-tdb" style="top:115px;left:-20px;width:40%;z-index:0;opacity: 0.5;">

    <img src="../static/img/2.png" alt="developerbrains" class="mylogo2 position-a-tdb" style="top:60px;right:10px;width:30%;z-index:0;opacity: 0.5;">

<center>
   <img src="../static/img/2.png" alt="developerbrains" class="w-px-tdb200 mylogo" style="margin:0 auto;">
<style>
.mylogo{animation: google 10s infinite running;}
@keyframes google{from{transform: rotate(0deg)}to{transform: rotate(360deg)}}
    .mylogo1{animation: google 60s infinite running;}
@keyframes google{from{transform: rotate(0deg)}to{transform: rotate(360deg)}}
    .mylogo2{animation: google 20s infinite reverse;}
@keyframes google{from{transform: rotate(360deg)}to{transform: rotate(0deg)}}
</style>

<br><br>
<div>
<span class="font-tdb13 letter-tdb1 b-tdb-white btn-tdb btn-tdb1 c-tdb-gray8">Attendance Using Face Recognition</span>
                <br><br>
                <br>

                <h1 class="bold-tdb5 font-tdb28 ">Attendance Sheet</h1>
                <br> College of <span class="bold-tdb5 c-tdb-yellow6">Technology</span> Pantnagar | IT <span class="bold-tdb5 c-tdb-yellow6">Department</span>
                <br>
                <br>
                <br>
                <a href="#learn"><span class="btn-tdb btn-tdb1 b-tdb-white c-tdb-gray8 font-tdb14 s-bottom-tdb1 s-active-none">Show Attendance <i class="fa fa-arrow-right"></i></span></a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


                <br><br><br><br><br><br>
            </div>

        </center>
        <div class="position-a-tdb bottom-tdb0 w-per-tdb100 left-tdb0" id="tools">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-180 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <!--<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />-->
                    <use xlink:href="#gentle-wave" x="48" y="4" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="6" fill="#E8F5E9" />
                </g>
            </svg>
        </div>
    </section>



    <section id="learn" class="center section1 b-tdb-green1 position-r-tdb c-tdb-gray8">
        <br>
        <br><br>


        <br><br><br>
        <br>
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 padding-left-tdb5 padding-right-tdb5">
                    <div class="btn-tdb1 b-tdb-white margin-bottom-tdb40 s-center-tdb1 font-tdb14 center padding-left-tdb15 bold-tdb3 padding-right-tdb15 c-tdb-gray6 letter-tdb1">
                        <br>
                        <h1 class="c-tdb-red5 font-tdb23 bold-tdb3 letter-tdb1">Attendance Sheet</h1>
                        <br>Click on the buttons to fetch the Attendance Sheet<br><br>
                        <form action="{{url_for('attend')}}" method="POST" style="display: inline-block">
                        <input type="submit" class="s-left-tdb1 btn-tdb btn-tdb1 bold-tdb3 b-tdb-green8 c-tdb-white center" value="1st Year"/>
                        </form>
                         <form action="{{url_for('second')}}" method="POST" style="display: inline-block">
                        <input type="submit" class="s-left-tdb1 btn-tdb btn-tdb1 bold-tdb3 b-tdb-pink8 c-tdb-white center" value="2nd Year"/>
                        </form>
                            <form action="{{url_for('third')}}" method="POST" style="display: inline-block">
                        <input type="submit" class="s-left-tdb1 btn-tdb btn-tdb1 bold-tdb3 b-tdb-orange8 c-tdb-white center" value="3rd Year"/>
                        </form>
                            <form action="{{url_for('final')}}" method="POST" style="display: inline-block">
                        <input type="submit" class="s-left-tdb1 btn-tdb btn-tdb1 bold-tdb3 b-tdb-red6 c-tdb-white center" value="final Year"/>
                        </form>

                        <br>
                        <br><br>
                    </div>
                </div>

                <div class="col-lg-12 padding-left-tdb5 padding-right-tdb5">
                    <div class=" b-tdb-white margin-bottom-tdb40 s-center-tdb1 font-tdb14 center padding-left-tdb15 bold-tdb3 padding-right-tdb15 c-tdb-gray6 letter-tdb1">
                        <table>
                            <thead>
                            <tr class="b-tdb-orange c-tdb-white font-tdb15">
                                <td class="w-per-tdb5 padding-bottom-tdb10 padding-top-tdb10">Name</td>
                                <td class="w-per-tdb5">Id Number</td>
                                <td class="w-per-tdb5">Email Id</td>
                                <td class="w-per-tdb5">Phone Number</td>
                                <td class="w-per-tdb5">Time</td>
                                <td class="w-per-tdb5">Date</td>
                            </tr>
                            </thead>
                            <tbody>

{% for i in level %}
<tr><td class="padding-top-tdb5 padding-bottom-tdb5 b-tdb-gray3">{{ i[1]}}</td>
<td>{{ i[2]}}</td>
<td class="b-tdb-gray1">{{ i[3]}}</td>
<td>{{ i[5]}}</td>
<td>{{ i[9]}}</td>
<td>{{ i[10]}}</td>
</tr>
{% endfor %}
</tr>
                            </tbody>

                        </table>

                    </div>
                </div>


                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

    </section>



    <!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer-->
    <section class="center section1 b-tdb-green1 c-tdb-green5 position-r-tdb">
        <br><br><br><br><br><br>
        <div class="position-a-tdb bottom-tdb0 b w-per-tdb100 left-tdb0 ">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave1" class="s-center-tdb1" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax s-center-tdb1">
                    <!--<use xlink:href="#gentle-wave1" x="48" y="0" fill="rgba(255,255,255,0.7)" />
                -->
                    <use xlink:href="#gentle-wave1" x="40" y="4" fill="rgba(0,0,0,0.5)" />
                    <use xlink:href="#gentle-wave1" x="44" y="5" fill="rgba(0,0,0,0.3)" />
                    <use xlink:href="#gentle-wave1" x="48" y="6" fill="#000" />
                </g>
            </svg>
        </div>
    </section>

    <!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer-->

    <section class="section2 b-tdb-black font-tdb14 c-tdb-gray7"><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="font-tdb14 bold-tdb4">NAVIGATION</h1>
                                <a href="/" class="c-tdb-gray7">Home</a><br>
                                <a href="/login" class="c-tdb-gray7">Login</a><br>
                                <a href="/registration" class="c-tdb-gray7">Sign Up</a><br>
                                <a href="mailto:azeemmuhammad98@gmail.com" class="c-tdb-gray7">Support</a>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="col-md-4">
                                <h1 class="font-tdb14 bold-tdb4">OTHER LINKS</h1>
                                <a href="https://www.thedeveloperbrains.com" class="c-tdb-gray7">The developer brains</a>
                              <br> <a href="https://github.com/phoenixFire33/Atttendence-System" class="c-tdb-gray7">GitHub</a>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="col-md-4">
                                <h1 class="font-tdb14 bold-tdb4">ADDRESS</h1>
                                I.T. Department,
                                College of Technology,
                                G.B.P.U.A.T, Pantnagar<br>
                                PIN 244713

                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12" style="text-align: justify;">
                                <h1 class="font-tdb16 bold-tdb3">ABOUT APP!</h1>
                                Advance attendance management system using face detection app is used to detect faces
                                and then it is recognised with the Database and finally the attendance is marked.<br>
                                <br><br>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 padding-left-tdb30">
                    @Team TheDeveloperBrains. G.B.P.U.A.T Pantnagar
                </div>

            </div>
        </div>
    </section>
{% endif %}
</body>

</html>