<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attendance Using Face Recognition</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/css/payu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/framework/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <script src="{{ url_for('static', filename='tdb-package/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='tdb-package/js/nav.js')}}"></script>
</head>

<body class="b-tdb-pro5">

</body>

</html>