<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#000000">
<title>Login Page</title>

 <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/css/payu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/framework/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <script src="{{ url_for('static', filename='tdb-package/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='tdb-package/js/nav.js')}}"></script>
</head>
<body class="b-tdb-gray5" id="body">
  <!--sidebar-->
<div class="sidebar">
    <a href="/"><p>Home</p></a>
    <a href="/login"><p>Login</p></a>
    <a href="/developer"><p>Developers</p></a>
</div>

<nav class="b-tdb-white bold-tdb5 font-tdb 16 c-tdb-gray7 s-center-tdb1">
<div class="container-fluid">
<div class="row">
<div class="col-md-3">&lt/Face Recognition></div>
<div class="nav-desktop col-md-6 left bold-tdb4 c-tdb-green5">
<a href="/" class="c-tdb-black">Home</a>
<a href="/login" class="c-tdb-black">Login</a>
<a href="mailto:azeemmuhammad98@gmail.com" class="c-tdb-black">Support</a>
<a href="/developer" class="c-tdb-black">Developers</a>
</div>
<div class="nav-desktop col-md-3 left bold-tdb4 c-tdb-black">
<!--<a href="html5.html">Login</a><a href="css3.html">SignUp</a>-->
</div>
</div>
</div>
<i id="bar" class="fa fa-bars"></i>
<i id="bar1" class="fa fa-times"></i>
</nav>


<!--header-->
<section id="head" class="header s-center-tdb1 c-tdb-gray1" style="background:url('../static/img/temp2.jpg');background-size:cover">
	<div class="header-cover"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="center "><br><br>
				<br>
				<div class="circle b-tdb-green4">
					<div class="circle1 b-tdb-green7">
					<i class="fa fa-laptop c-tdb-gray1 font-tdb50"></i>
					</div>
					</div><br><br>
			<p class="font-tdb40 bold-tdb2">Registration System<br>
			 Team Thedeveloper<span class="c-tdb-green8 bold-tdb2">Brains</span></p>
			  </div>
			  <div class="center font-tdb17 bold-tdb1">
			COLLEGE OF TECHNOLOGY PANTNAGAR<br><br><br>
				<a href="#template"><span class="sign s-left-tdb1 btn-tdb btn-tdb1 bold-tdb3 b-tdb-green8 c-tdb-white">Register Now</span></a>
				<br><br><br><br><br><br><br>
			</div>

		</div>
	</div>

</div>

</section>






    <!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer-->

    <section class="section2 b-tdb-black font-tdb14 c-tdb-gray7"><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="font-tdb14 bold-tdb4">WEB TECHNOLOGY</h1>
                                <a href="#" class="c-tdb-gray7">Login</a><br>
                                <a href="#" class="c-tdb-gray7">Sign Up</a><br>
                                <a href="#" class="c-tdb-gray7">Help</a><br>
                                <a href="#" class="c-tdb-gray7">Support</a>

                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="col-md-4">
                                <h1 class="font-tdb14 bold-tdb4">LINKS</h1>
                                <a href="https://www.thedeveloperbrains.com" class="c-tdb-gray7">The developer brains</a>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="col-md-4">
                                <h1 class="font-tdb14 bold-tdb4">ADDRESS</h1>
                                G.B.P.U.A.T, Pantnagar<br>
                                PIN 244713

                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12" style="text-align: justify;">
                                <h1 class="font-tdb16 bold-tdb3">ABOUT APP!</h1> Face Recognition app using Artificial Intelligence. You can easily control student's attendance activities by using this AI App.                               <br>
                                <br><br><br><br>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 padding-left-tdb30">
                    © Copyright 2020, thedeveloperbrains. All rights are reserved.
                </div>

            </div>
        </div>
    </section>




<!--Signup-->
<section class="signup bold-tdb2">
	<div class="sign-cover"></div>
<div class="container">
<div class="row">

<div class="col-md-9 sign1 center b-tdb-white s-center-tdb1" style="margin:auto;">
	<p class="close b-tdb-green font-tdb15"><i class="fa fa-times"></i>
	</p>
	<div class="container">
		<div class="row">
			<div class="col-md-12 center"><br><br>
				<p  class="font-tdb22 bold-tdb3 padding-tdb0 c-tdb-green8">Create a New Account</p>
				<p class="bold-tdb3 font-tdb14 c-tdb-gray7">Join our face recogniser app! Let's set up your account.
				<br>Already have one? <span class="cursor log c-tdb-green8">Sign in Here</span>
				</p><br>
				</div>
		<div style="margin:auto" class="col-md-5 signleft center c-tdb-gray7 font-tdb15">

		<span class="c-tdb-green8 bold-tdb4">Department of Information Technology<br/></span>&nbsp Face Recognition Attendance Management App <br>
			It's time to do something new in the field of Artificial intelligence.<br><br>
			<span class="c-tdb-green8">Complete your sign up processes and start using our app</span>
			<br><br><br>
		</div>
			<div class="col-md-7 signright font-tdb13 border-left">
			<div>
               <form action="{{url_for('registration')}}" method="POST">
			<span class="bold-tdb4">Name</span><br>
				<input type="text" name="signname" class="input-tdb b-tdb-green1" placeholder="Name"><br>
				<span class="bold-tdb4">Email</span><br>
				<input type="email" name="signemail" class="input-tdb b-tdb-green1" placeholder="Email"><br>
				<span class="bold-tdb4">Mobile Number</span><br>
				<input type="number" name="signphone" class="input-tdb b-tdb-green1" placeholder="Mobile Number"><br>
				<span class="bold-tdb4">Password</span><br>
				<input type="password" name="signpass" class="input-tdb b-tdb-green1" placeholder="********"><br>
				<span class="bold-tdb4">Confirm Password</span><br>
				<input type="password" name="signpass1" class="input-tdb b-tdb-green1" placeholder="********"><br><br>
                <input name="type"  type="hidden" class="login_field" value="creator" id="type" placeholder="Type" required/>

<p class="message1 font-tdb14"></p>
<p class="message2 font-tdb14"></p>
                <input type="submit" name="sign1" class="btn-tdb btn-tdb1 b-tdb-pro11 c-tdb-white center" value="Sign Up"><br>
               </form>
            </div>
			</div>
			</div>
			<br>
			<br>
			<br>
		</div>
</div>
</div>
</section>


<!--login-->
<section class="login bold-tdb2" style="display:none">
	<div class="log-cover" style="display:none"></div>
<div class="container">
<div class="row">

<div class="col-md-9 log1 center b-tdb-white s-center-tdb1" style="margin:auto;display:none">
	<p class="close b-tdb-green font-tdb15"><i class="fa fa-times"></i>
	</p>
	<div class="container">
		<div class="row">
			<div class="col-md-12 center"><br><br>
				<p  class="font-tdb22 bold-tdb3 c-tdb-green8">Login to Account</p>
				<p class="bold-tdb3 font-tdb14 c-tdb-gray7">Login to existing account
				<br>Don't have an account? <span class="cursor sign c-tdb-green8">Sign Up Here</span>
				</p><br>
				</div>
		<div style="margin:auto" class="col-md-5 logleft center c-tdb-gray7 font-tdb15">

			Login by Entering your personal details and <br>
			<span class="c-tdb-green8">Many new courses are waiting for you</span>
        <br><br><br>
		</div>
			<div class="col-md-7 logright border-left font-tdb13">
<form action="{{url_for('login')}}" method="POST">
				<span class="bold-tdb4">Email</span><br>
				<input type="email" name="logemail" class="input-tdb b-tdb-green1" placeholder="Email"><br>

				<span class="bold-tdb4">Password</span><br>
				<input type="password" name="logpass" class="input-tdb b-tdb-green1" placeholder="********"><br>
				<br>
				<p class="message11 font-tdb14"></p>
				<p class="message22 font-tdb14"></p>
				<input type="submit" name="log1" class="btn-tdb btn-tdb1 b-tdb-pro11 c-tdb-white center" value="Login"><br>
				<br>Forgot password? <span class="cursor pass c-tdb-green8">Change Password</span>
			</div>
			</div>
			</div>
			<br>
			<br>
			<br>
		</div>
</div>
</div>
</section>

<!--password-->
<section class="password bold-tdb2">
	<div class="pass-cover"></div>
<div class="container">
<div class="row">

<div class="col-md-9 pass1 center b-tdb-white s-center-tdb1" style="margin:auto">
	<p class="close b-tdb-green font-tdb15"><i class="fa fa-times"></i>
	</p>
	<div class="container">
		<div class="row">
			<div class="col-md-12 center"><br><br>
				<p  class="font-tdb22 bold-tdb3 c-tdb-green8">Change Password</p>
				<p class="bold-tdb3 font-tdb14 c-tdb-gray7">
				Don't have an account? <span class="cursor sign c-tdb-green8">Sign Up Here</span>
				</p><br>
				</div>
		<div class="col-md-5 passleft center c-tdb-gray7 font-tdb15" style="margin:auto">
			Enter your correct account details<br>
			We will send you otp through mail<br>
			You have to verify your <span class="c-tdb-green8">one time passcode</span>
			<br><br><br>
		</div>
			<div class="col-md-7 passright font-tdb13 border-left">

				<span class="bold-tdb4">Email</span><br>
				<input type="email" id="passemail" class="input-tdb b-tdb-green1" placeholder="Email"><br>

				<span class="bold-tdb4">New Password</span><br>
				<input type="password" id="passpass" class="input-tdb b-tdb-green1" placeholder="********"><br>

				<span class="bold-tdb4">Confirm Password</span><br>
				<input type="password" id="passconfpass" class="input-tdb b-tdb-green1" placeholder="********"><br>
				<br>
				<p class="message111 font-tdb14" ></p>
				<p class="message222 font-tdb14" ></p>
				<input type="submit" id="pass1" class="btn-tdb btn-tdb1 b-tdb-pro11 c-tdb-white center" value="Change Password"><br>
			</div>
			</div>
			</div>
			<br>
			<br>
			<br>
		</div>
</div>
</div>
</section>


</body>
</html>
