<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#000000">
<title>Login Page</title>

 <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/css/payu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='tdb-package/framework/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="{{ url_for('static', filename='tdb-package/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='tdb-package/js/nav.js')}}"></script>
</head>
<body class="b-tdb-gray5" id="body">
  <!--sidebar-->
<div class="sidebar">
    <a href="/"><p>Home</p></a>
    <a href="/login"><p>Create New Account</p></a>
</div>

<nav class="b-tdb-white bold-tdb5 font-tdb 16 c-tdb-gray7 s-center-tdb1">
<div class="container-fluid">
<div class="row">
<div class="col-md-3">&lt/Face Recognition></div>
<div class="nav-desktop col-md-8 left bold-tdb4 c-tdb-green5">
<a href="/" class="c-tdb-black">Home</a>
<a href="/registration" class="c-tdb-black">New Account</a>
<a href="mailto:azeemmuhammad98@gmail.com" class="c-tdb-black">Support</a>
</div>
<div class="nav-desktop col-md-1 left bold-tdb4 c-tdb-black">
    <a href="https://github.com/phoenixFire33/Atttendence-System"><i class="fab fa-github font-tdb22"></i></a>
</div>
</div>
</div>
<i id="bar" class="fa fa-bars"></i>
<i id="bar1" class="fa fa-times"></i>
</nav>


<!--header-->
<section id="head" class="header s-center-tdb1 c-tdb-gray1" style="background:url('../static/img/temp2.jpg');background-size:cover">
	<div class="header-cover"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="center "><br><br>
				<br>
				<div class="circle b-tdb-green4">
					<div class="circle1 b-tdb-green7">
					<i class="fa fa-laptop c-tdb-gray1 font-tdb50"></i>
					</div>
					</div><br><br>
			<p class="font-tdb40 bold-tdb2">Login System<br>
			 Team Thedeveloper<span class="c-tdb-green8 bold-tdb2">Brains</span></p>
			  </div>
			  <div class="center font-tdb17 bold-tdb1">
			COLLEGE OF TECHNOLOGY PANTNAGAR<br><br><br>
				<a href="#login"><span class="log s-left-tdb1 btn-tdb btn-tdb1 bold-tdb3 b-tdb-green8 c-tdb-white">Login Now</span></a>
				<br><br><br><br><br><br><br>
			</div>

		</div>
	</div>

</div>

</section>






    <!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer-->

    <section class="section2 b-tdb-black font-tdb14 c-tdb-gray7"><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="font-tdb14 bold-tdb4">NAVIGATION</h1>
                                <a href="/login" class="c-tdb-gray7">Login</a><br>
                                <a href="/registration" class="c-tdb-gray7">Sign Up</a><br>
                                <a href="" class="c-tdb-gray7">Support</a>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="col-md-4">
                                <h1 class="font-tdb14 bold-tdb4">OTHER LINKS</h1>
                                <a href="https://www.thedeveloperbrains.com" class="c-tdb-gray7">The developer brains</a>
                              <br> <a href="https://github.com/phoenixFire33/Atttendence-System" class="c-tdb-gray7">GitHub</a>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="col-md-4">
                                <h1 class="font-tdb14 bold-tdb4">ADDRESS</h1>
                                I.T. Department,
                                College of Technology,
                                G.B.P.U.A.T, Pantnagar<br>
                                PIN 244713

                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12" style="text-align: justify;">
                                <h1 class="font-tdb16 bold-tdb3">ABOUT APP!</h1>
                                Advance attendance management system using face detection app is used to detect faces
                                and then it is recognised with the Database and finally the attendance is marked.<br>
                                <br><br>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 padding-left-tdb30">
                    @Team TheDeveloperBrains. G.B.P.U.A.T Pantnagar
                </div>

            </div>
        </div>
    </section>




<!--login-->
<section class="login bold-tdb2" style="display:block">
	<div class="log-cover" style="display:block"></div>
<div class="container">
<div class="row">

<div class="col-md-9 log1 center b-tdb-white s-center-tdb1" style="margin:auto;display:block">

	</p>
	<div class="container">
		<div class="row">
			<div class="col-md-12 center"><br><br><br>
				<p  class="font-tdb22 bold-tdb3 c-tdb-green8">{{ status }}<br>
                    </p>

				<p class="bold-tdb3 font-tdb14 c-tdb-gray7">Already have an account? <a href="/login" class="cursor sign c-tdb-green8">Login Here</a>
				</p><br>
				</div>

			<div class="col-md-12 center border-left font-tdb13">
                <a href="/" class="btn-tdb btn-tdb1 b-tdb-pro11 c-tdb-white center">Home</a>
                <a href="/login" class="btn-tdb btn-tdb1 b-tdb-pro12 c-tdb-white center">Login</a>
                <a href="/registration" class="btn-tdb btn-tdb1 b-tdb-pro14 c-tdb-white center">Sign Up</a><br>

</form>
			</div>
			</div>
			<br>
			<br>
			<br>
		</div>
</div>
</div>
</div>
</section>


</body>
</html>
